.node{
  height: 50px;
  width: 50px;
  background-color: #000;
  float: left;
  clear:both;
  margin: 0px 10px;
  color: green;
  font-size: 3em;
  border: 4px green solid;
}

.node.active{
  background-color: #CCC;
  border: 4px red solid;
}

.node .contents{
  position: absolute;
}

.node.active.caught{
  color: Red;
}
