.App {
  text-align: center;
}

.header {
  background-color: #2779A7;
  padding: 20px;
  color: white;
}
.title {
  text-align: 'center';
  color: 'white';
}

.run-btn{
  margin: 15px 0px;
}

.about{
  padding: 5px;
  font-style: italic;
  font-size: 0.8em;
}

.about a{
  color: yellow;
}

.slidecontainer{
  margin-top: 20px;
}
